<section>
    <app-side-navigation />
</section>

<section class="search-container">


    <div style="flex: 1">
        <app-search-component /> 
    </div>
   

    <div class="user-controls">
        <span class="avatar">
        JA
    </span>
    <button mat-button>
        <mat-icon>
            expand_more
        </mat-icon>
    </button>
    </div>
    
</section>

<main class="main-container">

  <section class="discover-page">
    <h1>Explore FoodFeeder</h1>

    <div class="discover-container">
      @for (item of discoverItems.slice(0, visibleCount); track item.title) {
        <app-discover-card
          [title]="item.title"
          [subtitle]="item.subtitle"
          [image]="item.image">
        </app-discover-card>
      }
    </div>

    @if (visibleCount < discoverItems.length) {
      <div class="show-more">
        <button mat-button (click)="showMore()">
          Show more
        </button>
      </div>
    }
  </section>

  <section class="categories-section">
    <h2>Browse by category</h2>

    <div class="categories-grid">
      @for (category of Categories.slice(0, visibleCatCount); track category.type) {
        <app-category-card
          [category]="category">
        </app-category-card>
      }
    </div>

      @if (visibleCatCount < Categories.length) {
      <div class="show-more">
        <button mat-button (click)="showMoreCat()">
          Show more
        </button>
      </div>
    }

  </section>

  <section class="trending-section">
    <h2>Explore Popular Boards</h2>

    <section class="popular-boards">

  @for (board of boards; track board.id) {
    <app-board-card [board]="board" />
  }

</section>
  </section>
</main>