:host {
  display: block;
  width: 100%;
}

.search-container {
   margin-left: 72px;
  padding: 24px;

  box-sizing: border-box;
  display: flex;
}

.user-controls {
  display: flex;
  align-items: center;

  gap: 4px;
  margin-left: auto;

  padding-left: 16px;

  mat-icon {
    border: none;

  }

  
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;

  border: 1px solid #cfcfcf;
  border-radius: 50%;
}

.user-controls button {
  min-width: auto;
  padding: 4px;
}



.main-container {
  margin-left: 72px;
  padding: 24px;

  box-sizing: border-box;

  width: calc(100% - 72px);
  min-height: 100vh;
}

// .discover-page {
//   margin-left: 50px;
//   padding: 24px;

//   box-sizing: border-box;
// }

.discover-page h1 {
  max-width: 1100px;
  margin: 0 auto 28px;

  font-size: 32px;
  font-weight: 700;
}

.discover-container {
  display: grid;

  grid-template-columns: repeat(3, minmax(0, 1fr));

  gap: 12px;

  max-width: 1100px;
  margin: 0 auto;
}

.show-more {
  display: flex;
  justify-content: center;
  align-items: center;

  width: fit-content;
  height: 48px;

  margin: 1rem auto 0;
  padding: 0 20px;

  border: 1px solid var(--search-background);
  background-color: var(--search-background);
  border-radius: var(--main-border-radius);

  cursor: pointer;
}

.show-more-container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;

}


.categories-section {
  width: 100%;
}

.categories-grid {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 16px;
}

@media (max-width: 1100px) {
  .categories-grid {
    grid-template-columns: repeat(4, 1fr);
  }
  .popular-boards {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (max-width: 850px) {
  .categories-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .popular-boards {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (max-width: 600px) {
  .categories-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .popular-boards {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.popular-boards {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 16px; /* row gap 8px, column gap 10px */
}